.printersetupsystem-logo{
	 width:25px;
	 height:25px;
}

.vertical-separator{
	content: "";
	width: 1px;
	height: 25px;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.size-64{
	width:64px;
	height:64px;
}

.size-48{
	width:48px;
	height:48px;
}

.size-32{
	width:32px;
	height:32px;
}

.size-24{
	width:24px;
	height:24px;
}

.size-16{
	width:16px;
	height:16px;
}

.hidden{
	display:none !important;
}

.table-overflow{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.width-100{
	width:100%;
}

.required:after{
  content:" *";
  color:red;
}

.text-center{
	text-align:center;
}

.usersettings-jumbotron{
	background-image: url(../img/admin/usersettings_jumbotron.jpg);
    padding: 0px !important;
}

.usersettings-jumbotron-text{
	backdrop-filter: blur(4px); 
	background: hsla(0,0%,100%,.14); 
	padding: 4rem 2rem !important;
}

.branch-edit{
	z-index: 100;
}