<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PrinterSetupSystem</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>21600</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error404</location>
  </error-page>
  
  <!-- ****************************************************************** -->
  <!-- SERVLET CONFIGS -->
  <!-- ERRORs -->
  <servlet>
	<servlet-name>Error404</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.Error404Controller</servlet-class>
  </servlet>
  
  <!-- APIs -->
  <servlet>
	<servlet-name>ApiSearchPrinterByName</servlet-name>
	<servlet-class>org.PrinterSetupSystem.api.SearchPrinterByName</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ApiSearchPrinterByNameAll</servlet-name>
	<servlet-class>org.PrinterSetupSystem.api.SearchPrinterByNameAll</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ApiSearchBranchByName</servlet-name>
	<servlet-class>org.PrinterSetupSystem.api.SearchBranchByName</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ApiGetAllBranchPrinters</servlet-name>
	<servlet-class>org.PrinterSetupSystem.api.GetAllBranchPrinters</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ApiGetAllBranches</servlet-name>
	<servlet-class>org.PrinterSetupSystem.api.GetAllBranches</servlet-class>
  </servlet>
  
    <!-- Servlets -->
  <servlet>
	<servlet-name>Home</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Branch</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.BranchController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Printer</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.PrinterController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Search</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.SearchController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Help</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.HelpController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>DownloadScript</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.DownloadScriptController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminHome</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminPrinters</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminPrintersController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminPrintersCreate</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminPrintersCreateController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminPrintersEdit</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminPrintersEditController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminBranches</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminBranchesController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminBranchesEdit</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminBranchesEditController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminAdmins</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminAdminsController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminAdminsEdit</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminAdminsEditController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminPrinterTypes</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminPrinterTypesController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminManualPage</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminManualPageController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminInstallScript</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminInstallScriptController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>AdminOther</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.AdminOtherController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UserSettings</servlet-name>
	<servlet-class>org.PrinterSetupSystem.controller.UserSettingsController</servlet-class>
  </servlet>
  
  <!-- ****************************************************************** -->
  <!-- SSERVLET MAPPINGS -->
  <!--  Mapping -->
  <servlet-mapping>
	<servlet-name>Home</servlet-name>
	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Branch</servlet-name>
	<url-pattern>/branch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Printer</servlet-name>
	<url-pattern>/printer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Search</servlet-name>
	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Help</servlet-name>
	<url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>DownloadScript</servlet-name>
	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminHome</servlet-name>
	<url-pattern>/adminhome</url-pattern>
	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminPrinters</servlet-name>
	<url-pattern>/adminprinters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminPrintersCreate</servlet-name>
	<url-pattern>/adminprinterscreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminPrintersEdit</servlet-name>
	<url-pattern>/adminprintersedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminBranches</servlet-name>
	<url-pattern>/adminbranches</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminBranchesEdit</servlet-name>
	<url-pattern>/adminbranchesedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminAdmins</servlet-name>
	<url-pattern>/adminadmins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminAdminsEdit</servlet-name>
	<url-pattern>/adminadminsedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminPrinterTypes</servlet-name>
	<url-pattern>/adminprintertypes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminManualPage</servlet-name>
	<url-pattern>/adminmanualpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminInstallScript</servlet-name>
	<url-pattern>/admininstallscript</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>AdminOther</servlet-name>
	<url-pattern>/adminother</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>UserSettings</servlet-name>
	<url-pattern>/usersettings</url-pattern>
  </servlet-mapping>
  
  <!-- APIs mapping -->
  <servlet-mapping>
	<servlet-name>ApiSearchPrinterByName</servlet-name>
	<url-pattern>/api/SearchPrinterByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ApiSearchPrinterByNameAll</servlet-name>
	<url-pattern>/api/SearchPrinterByNameAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ApiSearchBranchByName</servlet-name>
	<url-pattern>/api/SearchBranchByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ApiGetAllBranchPrinters</servlet-name>
	<url-pattern>/api/GetAllBranchPrinters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ApiGetAllBranches</servlet-name>
	<url-pattern>/api/GetAllBranches</url-pattern>
  </servlet-mapping>
  
  <!-- ERRORS mapping -->
  <servlet-mapping>
	<servlet-name>Error404</servlet-name>
	<url-pattern>/error404</url-pattern>
  </servlet-mapping>
</web-app>